@model Client.Models.FridgeProducts.FridgeProductForUpdateViewModel

@{
    ViewData["Title"] = "Update Fridge Product";
}

<form asp-action="UpdateFridgeProductAsync">
    <div class="border-light window p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Fridge Product</h2>
            <hr />
        </div>
        @Html.Hidden("Id", @Model.Id)
        @Html.Hidden("FridgeId", @Model.FridgeId)
        @Html.Hidden("ProductId", @Model.ProductId)
        <div class="mb-3">
            <label class="form-label">Product Quantity</label>
            <input asp-for="ProductQuantity" class="form-control" autocomplete="off" />
            <span asp-validation-for="ProductQuantity" class="text-danger"></span>
        </div>
       <div class="mt-4">
            <button type="submit" class="btn btn-success btn-lg">Update</button>
            <a asp-action="GetByFridgeId" asp-route-fridgeId="@Model.FridgeId" class="btn btn-danger btn-lg mx-2">Cancel</a>
       </div>
    </div>
</form>