@model Client.Models.Products.ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div id="PlaceHolderHere"></div>
<button type="button" class="btn btn-primary mb-3" data-toggle="ajax-modal" data-target="#createProduct" 
        data-url="@Url.Action("Create")">Create a new product</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @using (@Html.BeginForm("Update", "Products"))
                    {
                        @Html.Hidden("Id", item.Id)
                        @Html.Hidden("Name", item.Name)
                        @Html.Hidden("Quantity", item.Quantity)
                        ;
                        <input type="submit" value="Update" />
                    }
                </td>
                <td>
                    @using (@Html.BeginForm("DeleteProductAsync", "Products"))
                    {
                        @Html.Hidden("Id", item.Id)
                        <input type="submit" value="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>