@model Client.Models.Fridges.FridgesViewModel

@{
    ViewData["Title"] = "Fridges";
}

<h1>Fridges</h1>
<p>
    @Html.ActionLink("Create a new fridge", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Owner name")
            </th>
             <th>
                @Html.DisplayName("Manufacturer")
            </th>
             <th>
                @Html.DisplayName("Production year")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var fridge in Model.Fridges) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => fridge.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fridge.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fridge.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fridge.ProductionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fridge.Description)
            </td>
            <td>
                @using (@Html.BeginForm("Update", "Fridges"))
                {
                    @Html.Hidden("Id", fridge.Id)
                    @Html.Hidden("OwnerName", fridge.OwnerName)
                    @Html.Hidden("Description", fridge.Description)
                    <input type="submit"  value="Update"/>
                }
            </td>
            <td>
                @using (@Html.BeginForm("DeleteFridgeAsync", "Fridges"))
                {
                    @Html.Hidden("Id", fridge.Id)
                    <input type="submit" value="Delete"/>
                }
            </td>
            <td>
                @using (@Html.BeginForm("GetByFridgeId", "FridgesProducts", FormMethod.Get))
                {
                    @Html.Hidden("fridgeId", fridge.Id)
                    <input type="submit" value="View products">
                }
            </td>
            <td>
                @using (@Html.BeginForm("AddProductsIntoFridge", "FridgesProducts", FormMethod.Post))
                {
                    @Html.Hidden("fridgeId", fridge.Id)
                    <input type="submit" value="+ Add product(s)">
                }
            </td>
        </tr>
}
    </tbody>
</table>