@model Client.Models.Fridges.FridgeForUpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (@Html.BeginForm("UpdateFridgeAsync", "Fridges", FormMethod.Post)){
            @Html.ValidationSummary()
            @Html.Hidden("Id", @Model.Id)
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FridgeModelId" class="control-label">FridgeModel</label>
                @Html.DropDownListFor(model => model.FridgeModelId, ViewBag.Models as SelectList)
            </div> 
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

