@model Client.Models.Users.SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="blue-container">
    <div class="signup-form pt-5">
        @using (@Html.BeginForm("SignUpPostAsync", "UserManagement", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })</div>
                    <div class="col">@Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "Surname" })</div>
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name", required = "required" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Email", required="required" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        }
        <div class="hint-text">Already have an account? <a asp-controller="UserManagement" asp-action="Index">Login here</a></div>
    </div>
</div>